*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-sans-serif);
    letter-spacing: var(--letter-space2);
}

main {
    margin-bottom: var(--space6);
}

button,
input,
textarea {
    appearance: none;
    border: none;
    background: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}

.link-unstyled {
    text-decoration: none;
    color: var(--black);
}