*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-sans-serif);
    letter-spacing: var(--letter-space2);
    background-color: var(--white);
}

main{margin-top: 100px;}

h1,
h2,
h3 {
    font-family: var(--font-serif);
}

h2,
h3 {
    font-weight: var(--normal);
}

h1 {
    font-weight: var(--semi-bold);
}

button,
input,
textarea {
    appearance: none;
    border: none;
    background: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}

a {
    color: var(--black);
}

.link-unstyled {
    text-decoration: none;
    color: var(--black);
}

.list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}