.footer {
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--space1);
    color: var(--white);
}

.footer__icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16vw;
}

.footer__logo,
.footer__text {
    padding: var(--space1);
    text-align: center;
}

.footer__link{
    color: var(--white);
}

.footer__link--blue{
    color: var(--skyblue);
    text-decoration: underline;
}