.section {
    padding : var(--space5) var(--space3);
}

.section--full{
    padding: 0;
    margin:0;
    width: 100%;
}

.section__title{
    padding: var(--space1) 0;
    font-weight: var(--normal);
    color: var(--blue);
}