.article {
    padding: var(--space2) 0;
}

.article__content {
    display: flex;
    flex-direction: column;
    gap: var(--space2);
    padding: 25px;
}

.article__card {
    background-color: var(--blue);
    border-radius: 5px;
}

.article__title {
    font-size: var(--text-title2);
    color: var(--white);
    font-weight: var(--normal);
}

.article__text {
    font-size: var(--text-medium);
    color: var(--white);
}
