.article {
    padding: var(--space2) 0;
}

.article__content {
    display: flex;
    flex-direction: column;
}

.article__card{
    background-color: var(--blue);
    padding-bottom: var(--space3);
    border-radius: 5px;
}

.article__title {
    font-size: var(--text-title2);
    color: var(--white);
}

.article__text {
    font-size: var(--text-medium);
    color: var(--white);
}