.btn {
    display: flex;
    align-items: center;
}

.btn--intro {
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    padding: var(--space1) var(--space1);
    margin: var(--space4);
    font-family: var(--font-serif);
    font-size: 28px;
}

.btn--intro__content {
    color: var(--white);
}

.btn--intro__img {
    padding: 0 var(--space2);
}

.btn--article {
    background-color: var(--orange);
    width: fit-content;
    padding: var(--space1) var(--space2);
    display: flex;
    gap: var(--space1);
    align-items: center;
    font-size: var(--text-small);
    font-weight: var(--semi-bold);
    border-radius: 3px;
}

.btn--form {
    background-color: var(--blue);
    width: fit-content;
    padding: var(--space1) var(--space2);
    border-radius: 3px;
}

.btn--form-text {
    color: var(--skyblue);
}