.figure{
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: var(--space1) var(--space2);
}

.figure__caption{
    font-size: var(--text-small);
    font-style: var(--italic);
    
}