.form {
    display: flex;
    flex-direction: column;
    gap: var(--space2);
    padding: var(--space2) 0;
}

.form__info {
    display: flex;
    flex-direction: column;
}

.form__label {
    font-family: var(--font-sans-serif);
    font-size: var(--text-small);
    font-weight: var(--semi-bold);
    color: var(--blue);
}

.form__input {
    border: 1px var(--blue) solid;
    padding: 5px 10px;
}

.form__info--name {
    width: 50%;
}

.form__input::placeholder{
    color: #66767F;
    font-size: var(--text-small);
    font-style: var(--italic);
}