.intro__illustration {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro__illustration-text {
    padding: 0 0;
    position: absolute;
    top: 15%;
    left: 0;
    padding: var(--space6);
    padding-left: 100px;
    padding-right: 100px;
}

.intro__title {
    font-size: var(--text-title1);
}

.intro__title--home {
    padding: 0;
    margin: 0;
    text-align: center;
}

.intro__info{
    font-size: var(--text-small);
    font-style: var(--italic);
}

.intro__author{
    padding: var(--space1) 0;
}

.intro__content {
    padding: 0 var(--space3);
    display: flex;
    flex-direction: column;
    gap: var(--space1);
}

.intro__text {
    padding: var(--space1) 0;
    font-size: var(--text-large);
}